<div class="row">
	<div class="col-lg-12">

		<h1>Remove a User</h1>

		<div class="row">
			<div class="col-lg-8">

				<p><strong><%= user.name %></strong> - <%= user.email %></p>

				<% if (msg) { %>
					<div class="alert alert-danger" role="alert">
						<%- msg %>
					</div>
				<% } %>
				
				<form role="form" method="post" action="" enctype="multipart/form-data">
					<input type="hidden" name="_csrf" value="<%= token %>"/>
					<input type="hidden" name="user" value="<%= user.id %>"/>

					<div class="form-group">
						<p class="help-block">This action will remove a user from the system. It is a irreversible action.</p>
					</div>

					<button type="submit" class="btn btn-danger">Delete User</button>
					<a class="btn btn-default pull-right" href="/manager/users">Cancel</a>
				</form>
			</div>		
		</div>
	</div>
</div>