<div class="row">
  <div class="col-lg-12">

    <h1>Saved Interviews</h1>

    <div class="row">
      <div class="col-lg-12">
        <% if (saved.length !== 0) { %>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Interview</th>
                  <th>Description</th>
                  <th>Progress</th>
                  <th>Date Last Saved</th>
                  <th>Options</th>
                </tr>
              </thead>
              <tbody>
                <% for (var j = 0; j < saved.length; j++) { %>
                <tr>
                  <td><a href="/manager/interview/<%= saved[j].interview.id %>"><%= saved[j].interview.name %></a></td>
                  <td><%= saved[j].note %></td>
                  <td><%= saved[j].data.state.distance[saved[j].qid] || '' %></td>
                  <td><%= saved[j].created %></td>
                  <td>
                    <div class="btn-group pull-right">
                      <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-gear"></i>
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li title="Update this stylesheet" class="download"><a href="/manager/interview/">Assign to another user</a></li>
                        <li title="Remove this stylesheet" class="remove"><a href="/manager/interview/">Remove</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        <% } else { %>
          <p class="alert alert-warning">This user has no saved interviews.</p>
        <% } %>
      </div>      
    </div>
  </div>
</div>