<div id="admin">
	<% include header %>
	<div class="contents-container">
		<div class="contents">
			<h1>Dashboard</h1>
			<div class="span-19 left">
				<table class="interviews-table table">
					<thead class="b">
						<tr><th colspan="4">Interviews</th></tr>
						<tr>
							<th>Name</th>
							<th>Description</th>
							<th>Live</th>
							<th>Options</th>
						</tr>
					</thead>
					<tbody class="a">
						<% for (var j = 0; j < interviews.length; j++) { %>
						<tr>
							<td><a href="/manager/interview/<%= interviews[j].id %>"><%= interviews[j].name %></a></td>
							<td><%= interviews[j].description %></td>
							<td><%= interviews[j].live %></td>
							<td>
								<ul class="options-menu">

									<li title="Clone this interview" class="clone"><a href="/manager/interviews/clone/<%= interviews[j].id %>">Clone</a></li>
									<li title="Remove this interview" class="remove"><a href="/manager/interviews/remove/<%= interviews[j].id %>">Remove</a></li>
								</ul>
							</td>
						</tr>
						<% } %>
					</tbody>
				</table>

				<% if (user.privledges['view_completed_interviews']) { %>
					<table class="interviews-table table">
						<thead class="b">
							<tr><th colspan="4">Recently Completed Interviews</th></tr>
							<tr>
								<th>Client</th>
								<th>Interview</th>
								<th>Deliverables</th>
								<th>Date</th>
							</tr>
						</thead>
						<tbody class="a">

							<% for (var k = 0; k < outputs.length; k++) { %>
							<tr>
								<td style="min-width: 85px;"><%= outputs[k].client_fullname %></td>
								<td><a href="/manager/interview/<%= outputs[k].interview.id %>"><%=  outputs[k].interview.name %></a></td>
								<td>
									<% for (var l = 0; l < outputs[k].deliverables.length; l++) { %>
										<div class="dash-out-dn"><span class="ql-<%= outputs[k].deliverables[l].type %>">+</span><a href="/manager/download/deliverable/output/<%= outputs[k].id %>/<%= outputs[k].interview.id %>/<%= outputs[k].deliverables[l].id %>" target="_blank"><%= outputs[k].deliverables[l].name %></a></div>
									<% } %>

								</td>
								<td><%= outputs[k].date.toLocaleDateString() %></td>
							</tr>
							<% } %>
						</tbody>
					</table>
				<% } %>
			</div>
			<div class="span-5 right">
				<table class="side-table table">
					<thead class="b">
						<tr>
							<th>Quick Links</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><div class="ql-con"><span class="ql-add">+</span><a title="Add a new interview" href="/manager/interviews/add">Add Interview</a></div></td>
						</tr>
						<tr>
							<td><div class="ql-con"><span class="ql-report">+</span><a href="/manager/interviews/completed" title="Edit Interview">Completed Interviews</a></div></td>
						</tr>
						<tr>
							<td><div class="ql-con"><span class="ql-users">+</span><a href="/manager/users" title="Edit Interview">Edit Users</a></div></td>
						</tr>
					</tbody>
				</table>
			</div><!-- span -->
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>

	<% include footer %>

</div>