<div class="row">
	<div class="col-lg-12">

		<h1>Dashboard</h1>
<!-- 		<hr/>
		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-default">Left</button>
			<button type="button" class="btn btn-default">Middle</button>
			<button type="button" class="btn btn-default">Right</button>
		</div> -->

		<ul class="list-group">
			<% for (var j = 0; j < interviews.length; j++) { %>
				<li class="list-group-item">
					<div class="btn-group pull-right">
						<a class="btn btn-xs btn-default" href="/manager/interview/<%= interviews[j].id %>"><i class="fa fa-gear"></i></a>
						<button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li title="Clone this interview"><a href="/manager/interviews/clone/<%= interviews[j].id %>">Clone</a></li>
							<li class="divider"></li>
							<li title="Remove this interview"><a href="/manager/interviews/remove/<%= interviews[j].id %>">Remove</a></li>
						</ul>
					</div>
					<a href="/manager/interview/<%= interviews[j].id %>"><%= interviews[j].name %></a>
				</li>
			<% } %>
		</ul>

		<% if (user.privledges['view_completed_interviews']) { %>
			<table class="table table-bordered">
				<thead class="b">
					<tr><th colspan="4">Recently Completed Interviews</th></tr>
					<tr>
						<th>Client</th>
						<th>Interview</th>
						<th>Deliverables</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody class="a">

					<% for (var k = 0; k < outputs.length; k++) { %>
					<tr>
						<td style="min-width: 85px;"><%= outputs[k].client_fullname %></td>
						<td><a href="/manager/interview/<%= outputs[k].interview.id %>"><%=  outputs[k].interview.name %></a></td>
						<td>
							<% for (var l = 0; l < outputs[k].deliverables.length; l++) { %>
								<% if (outputs[k].deliverables[l].type === 'pdf') { 
									icon = "fa-file-pdf-o red"; 
								} else {
									icon ="rtf"
								} %>
								<div class="dash-out-dn"><i class="fa <%= icon %>"></i> <a href="/manager/download/deliverable/output/<%= outputs[k].id %>/<%= outputs[k].interview.id %>/<%= outputs[k].deliverables[l].id %>" target="_blank"><%= outputs[k].deliverables[l].name %></a></div>
							<% } %>

						</td>
						<td>
							<%= outputs[k].date.toLocaleDateString() %> 
							<i class="fa fa-clock-o"></i> 
							<em><%= outputs[k].date.toLocaleTimeString() %></em>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>
		<% } %>
	</div>
</div>