<div class="row">
	<div class="col-lg-12">

		<h1>Dashboard</h1>
<!-- 		<hr/>
		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-default">Left</button>
			<button type="button" class="btn btn-default">Middle</button>
			<button type="button" class="btn btn-default">Right</button>
		</div> -->

		<% for (var j = 0; j < interviews.length; j++) { %>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><%= interviews[j].name %></h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
			</div>
		<% } %>


		<table class="table table-bordered">
			<thead class="b">
				<tr><th colspan="4">Interviews</th></tr>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Live</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody class="a">
				<% for (var j = 0; j < interviews.length; j++) { %>
				<tr>
					<td><a href="/manager/interview/<%= interviews[j].id %>"><%= interviews[j].name %></a></td>
					<td><%= interviews[j].description %></td>
					<td><%= interviews[j].live %></td>
					<td>
						<ul class="options-menu">

							<li title="Clone this interview" class="clone"><a href="/manager/interviews/clone/<%= interviews[j].id %>">Clone</a></li>
							<li title="Remove this interview" class="remove"><a href="/manager/interviews/remove/<%= interviews[j].id %>">Remove</a></li>
						</ul>
					</td>
				</tr>
				<% } %>
			</tbody>
		</table>

		<% if (user.privledges['view_completed_interviews']) { %>
			<table class="table table-bordered">
				<thead class="b">
					<tr><th colspan="4">Recently Completed Interviews</th></tr>
					<tr>
						<th>Client</th>
						<th>Interview</th>
						<th>Deliverables</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody class="a">

					<% for (var k = 0; k < outputs.length; k++) { %>
					<tr>
						<td style="min-width: 85px;"><%= outputs[k].client_fullname %></td>
						<td><a href="/manager/interview/<%= outputs[k].interview.id %>"><%=  outputs[k].interview.name %></a></td>
						<td>
							<% for (var l = 0; l < outputs[k].deliverables.length; l++) { %>
								<% if (outputs[k].deliverables[l].type === 'pdf') { 
									icon = "fa-file-pdf-o red"; 
								} else {
									icon ="rtf"
								} %>
								<div class="dash-out-dn"><i class="fa <%= icon %>"></i> <a href="/manager/download/deliverable/output/<%= outputs[k].id %>/<%= outputs[k].interview.id %>/<%= outputs[k].deliverables[l].id %>" target="_blank"><%= outputs[k].deliverables[l].name %></a></div>
							<% } %>

						</td>
						<td><%= outputs[k].date.toLocaleDateString() %></td>
					</tr>
					<% } %>
				</tbody>
			</table>
		<% } %>
	</div>
</div>