<div class="row">
	<div class="col-lg-12">

		<h1>Dashboard</h1>

		<ul class="list-group">
			<% for (var j = 0; j < interviews.length; j++) { %>
				<li class="list-group-item">
					<div class="btn-group pull-right">
						<a class="btn btn-xs btn-default" href="/manager/interview/<%= interviews[j].id %>"><i class="fa fa-gear"></i></a>
						<button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>

						<ul class="dropdown-menu" role="menu">
							<li><a href="<%= interviews[j].stage_url %>" title="Staging Area">View Stage</a></li>
							<li><a href="/manager/interview/<%= interviews[j].id %>/lock" title="Lock/Unlock Interview">Lock/Unlock Interview</a></li>
							<li><a href="/manager/interview/<%= interviews[j].id %>/report" title="Interview report">View Report</a></li>
							<li><a href="/manager/interview/<%= interviews[j].id %>/live" title="Change Live Status">Change Live Status</a></li>
							<li><a href="/manager/interview/<%= interviews[j].id %>/on_complete" title="Edit On Complete options">View Settings</a></li>
							<li><a href="/manager/interview/<%= interviews[j].id %>/import_interview" title="Import Interview data">Import Interview Data</a></li>
							<li><a href="/manager/interview/<%= interviews[j].id %>/export_interview" title="Export Interview data">Export Interview Data</a></li>
							<li class="divider"></li>
							<li title="Clone this interview"><a href="/manager/interviews/clone/<%= interviews[j].id %>">Clone</a></li>
							<li title="Remove this interview"><a href="/manager/interviews/remove/<%= interviews[j].id %>">Remove</a></li>
						</ul>
					</div>
					<a href="/manager/interview/<%= interviews[j].id %>" data-toggle="tooltip" title="" data-original-title="<%= interviews[j].description %>"><%= interviews[j].name %></a>
				</li>
			<% } %>
		</ul>

		<% if (user.privledges['view_completed_interviews']) { %>
			<h2>Recently Completed Interviews</h2>
			<div class="form-group">
				<a href="/manager/interviews/completed" class="btn btn-default">View More</a>
			</div>

			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Client</th>
							<th>Interview</th>
							<th>Deliverables</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
						<% for (var k = 0; k < outputs.length; k++) { %>
						<tr>
							<td><%= outputs[k].client_fullname %></td>
							<td><a href="/manager/interview/<%= outputs[k].interview.id %>"><%=  outputs[k].interview.name %></a></td>
							<td>
								<% for (var l = 0; l < outputs[k].deliverables.length; l++) {
									deliverable_type = "fa-file-o";

									if (outputs[k].deliverables[l].type.toUpperCase() === 'PDF' || outputs[k].deliverables[l].type.toUpperCase() === 'PDF_FORM') { 
										deliverable_type = "fa-file-pdf-o"; 
									} 

									if (outputs[k].deliverables[l].type.toUpperCase() === 'XML' || outputs[k].deliverables[l].type.toUpperCase() === 'XML_MSACCESS') {
										deliverable_type = "fa-file-code-o";
									}

									if (outputs[k].deliverables[l].type.toUpperCase() === 'RTF' || outputs[k].deliverables[l].type.toUpperCase() === 'ODT') {
										deliverable_type = "fa-file-text-o";
									}

									if (outputs[k].deliverables[l].type.toUpperCase() === 'DOC' || outputs[k].deliverables[l].type.toUpperCase() === 'DOCX') {
										deliverable_type = "fa-file-word-o";
									}
								%>
									<div><i class="fa <%= deliverable_type %>"></i> <a href="/manager/download/deliverable/output/<%= outputs[k].id %>/<%= outputs[k].interview.id %>/<%= outputs[k].deliverables[l].id %>" target="_blank"><%= outputs[k].deliverables[l].name %></a></div>
								<% } %>

							</td>
							<td>
								<%= outputs[k].date.toLocaleDateString() %> <em><%= outputs[k].date.toLocaleTimeString() %></em>
							</td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		<% } %>
	</div>
</div>