<!DOCTYPE html>
<html lang="en">
	<head>
	  	<meta charset="utf-8"/>
	  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	  	<title>LogicPull - Forgot Password</title>
	 	<meta name="robots" content="noindex, nofollow" />
	 	<link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css" rel="stylesheet" type="text/css">
	    <link rel="stylesheet" href="/stylesheets/lib/font-awesome.min.css" rel="stylesheet" type="text/css">
		<% if (settings.env === 'development') { %>
			<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css?v=<%= settings.version %>">
			<script src="/javascripts/admin.js?v=<%= settings.version %>"></script>
		<% } else { %>
			<link rel="stylesheet" type="text/css" href="/stylesheets/admin.min.css?v=<%= settings.version %>">
			<script src="/javascripts/admin.min.js?v=<%= settings.version %>"></script>
		<% } %>	
	</head>

	<body>
		<div class="container">
		    <div class="row">
		        <div class="col-md-4 col-md-offset-4">
		            <div class="panel panel-default login">
		                <div class="panel-heading"> 
		                	<strong class="">Reset your Password</strong>
		                </div>
		                <div class="panel-body">
							<% if (info[0] === true) { %>
								<div class="alert alert-success">
									<span>We have sent you instructions on how to reset you password.</span>
								</div>
							<% } else { %>
								<% if (msg && ! msg.valid) { %>
									<div class="alert alert-danger" role="alert">
										<%= msg %>
									</div>
								<% } %>
							<% } %>

		                    <form method="post" action="/manager/reset" class="form-horizontal" role="form">
		                    	<input type="hidden" name="_csrf" value="<%= token %>"/>

		                        <div class="form-group">
		                            <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
		                            <div class="col-sm-9">
		                                <input name="email" type="text" class="form-control" id="inputEmail3" placeholder="Email" >
		                                <p class="help-block">Enter your email address and we’ll send you further instructions on how to reset you password.</p>
		                            </div>
		                            
		                        </div>
		                        <div class="form-group">
		                            <div class="col-sm-offset-3 col-sm-9">
		                               	<input type="submit" value="Reset Password" class="btn btn-primary" />
		                            </div>
		                        </div>
		                    </form>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</body>
</html>