<div id="admin">
	<% include ../header %>
	<div class="contents-container">
		<div class="contents">
			<h1>Completed Interviews</h1>
			<div class="span-17 left">
				<table class="display-table table">
					<thead class="b">
						<tr>
							<th>Last Name</th>
							<th>First Name</th>
							<th>Interview</th>
							<th>Deliverables</th>
							<th>Answers</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody class="a">

						<% for (var k = 0; k < outputs.length; k++) { %>
						<tr>
							<td style="min-width: 65px;"><%= outputs[k].client_lastname.toUpperCase() %></td>
							<td style="min-width: 65px;"><%= outputs[k].client_firstname %></td>
							<td><a href="/manager/interview/<%= outputs[k].interview.id %>"><%=  outputs[k].interview.name %></a></td>
							<td>
								<ul class="dash-out-delivs">
									<% for (var l = 0; l < outputs[k].deliverables.length; l++) { %>
										<li class="dash-out-dn"><span class="ql-<%= outputs[k].deliverables[l].type %>">+</span><a href="/manager/download/deliverable/output/<%= outputs[k].id %>/<%= outputs[k].interview.id %>/<%= outputs[k].deliverables[l].id %>" target="_blank"><%= outputs[k].deliverables[l].name %></a></li>
									<% } %>
								</ul>
							</td>
							<td><div class="dash-out-do"><span class="ql-<%= outputs[k].answers.type %>">+</span><a href="/manager/download/completed/answers/<%= outputs[k].id %>/<%= outputs[k].interview.id %>/<%= outputs[k].answers.id %>" target="_blank">JSON</a></div></td>
							<td><%= outputs[k].date.toLocaleDateString() %></td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>