<div class="row">
  <div class="col-lg-12">

    <h1>
      Edit Interview Description
    </h1>

    <div class="row">
      <div class="col-lg-8">

        <% if (msg) { %>
          <div class="alert alert-danger" role="alert">
            <%- msg %>
          </div>
        <% } %>
        
        <p><strong><%= interview.name %></strong> - <%= interview.description %></p>
        <p>The description is displayed to end users completing the interview.</p>

        <form role="form" method="post" action="">
          <input type="hidden" name="_csrf" value="<%= token %>"/>

          <div class="form-group">
            <label for="form-description">Description</label>
            <textarea name="description" class="form-control" rows="3"><%= interview.description %></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
          <a class="btn btn-default pull-right" href="/manager/interview/<%= interview.id %>">Cancel</a>
        </form>
      </div>      
    </div>
  </div>
</div>