<div class="row">
	<div class="col-lg-12">

		<h1>Interviews</h1>
		<div class="btn-group margin-20-bottom" role="group">
			<a class="btn btn-default" href="interviews/add" title="Live Interview"><i class="fa fa-plus-square"></i> Add Interview</a>
		</div>

		<% for (var j = 0; j < interviews.length; j++) {
			if (interviews[j].live) { 
				panel = "panel-success"; 
			} else {
				panel = "panel-default";
			} 
		%>

		<div class="panel <%= panel %>">
			<div class="panel-heading clearfix">
				<div class="btn-group pull-right">
					<a class="btn btn-xs btn-default" href="/manager/interview/<%= interviews[j].id %>"><i class="fa fa-gear"></i></a>
					<button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li title="Clone this interview"><a href="/manager/interviews/clone/<%= interviews[j].id %>">Clone</a></li>
						<li class="divider"></li>
						<li title="Remove this interview"><a href="/manager/interviews/remove/<%= interviews[j].id %>">Remove</a></li>
					</ul>
				</div>
				<h3 class="panel-title">
					<strong>
						<a href="/manager/interview/<%= interviews[j].id %>" data-toggle="tooltip" title="" data-original-title="<%= interviews[j].name %>"><%= interviews[j].description %></a>
					</strong>
				</h3>
			</div>
			
			<% if (interviews[j].deliverables.length !== 0) { %>
				<div class="panel-body">
					<div class="row">
					<% for (var i=0; i < interviews[j].deliverables.length; i++) { 
						deliverable_type = "fa-file-o";

						if (interviews[j].deliverables[i].output.type.toUpperCase() === 'PDF' || interviews[j].deliverables[i].output.type.toUpperCase() === 'PDF_FORM') { 
							deliverable_type = "fa-file-pdf-o"; 
						} 

						if (interviews[j].deliverables[i].output.type.toUpperCase() === 'XML' || interviews[j].deliverables[i].output.type.toUpperCase() === 'XML_MSACCESS') {
							deliverable_type = "fa-file-code-o";
						}

						if (interviews[j].deliverables[i].output.type.toUpperCase() === 'RTF' || interviews[j].deliverables[i].output.type.toUpperCase() === 'ODT') {
							deliverable_type = "fa-file-text-o";
						}

						if (interviews[j].deliverables[i].output.type.toUpperCase() === 'DOC' || interviews[j].deliverables[i].output.type.toUpperCase() === 'DOCX') {
							deliverable_type = "fa-file-word-o";
						}
					%>
						<div class="col-md-3">
							<div class="well well-lg interview-deliverable">
								<div class="media">
									<div class="media-left">
										<i class="fa <%= deliverable_type %> fa-4"></i>
									</div>
									<div class="media-body">
										<p>
											<a href="/manager/download/deliverable/stylesheet/<%= i %>/<%= interviews[j].id %>/<%= interviews[j].deliverables[i].id %>" data-toggle="tooltip" title="" data-original-title="Download Style Sheet"><i class="fa fa-download"></i> <%= interviews[j].deliverables[i].input.name %></a>
										</p>
										<div class="btn-group">
											<a class="btn btn-xs btn-default" href="/manager/interview/<%= interviews[j].id %>/deliverables/update/<%= i %>">Update</a>
											<button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
												<span class="caret"></span>
												<span class="sr-only">Toggle Dropdown</span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li title="Remove this interview"><a href="/manager/interviews/remove/<%= interviews[j].id %>">Remove</a></li>
											</ul>
										</div>

									</div>
								</div>
							</div>
						</div>
					<% } %>
					</div>
				</div>
			<% } %>
			
		</div>

			<% } %>
	</div>
</div>