<div class="row">
	<div class="col-lg-12">
		<h1><%= interview.name %></h1>
		<div class="btn-group margin-20-bottom" role="group">
			<a class="btn btn-default" href="<%= interview.live_url %>" title="Live Interview">View Interview</a>
			<a class="btn btn-default" href="<%= interview.edit_url %>" title="Edit Interview">Open Editor</a>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					Dropdown
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="<%= interview.stage_url %>" title="Staging Area">View Stage</a></li>
					<li><a href="/manager/interview/<%= interview.id %>/lock" title="Lock/Unlock Interview">Lock/Unlock Interview</a></li>
					<li><a href="/manager/interview/<%= interview.id %>/report" title="Interview report">View Report</a></li>
					<li><a href="/manager/interview/<%= interview.id %>/live" title="Change Live Status">Change Live Status</a></li>
					<li><a href="/manager/interview/<%= interview.id %>/on_complete" title="Edit On Complete options">View Settings</a></li>
					<li><a href="/manager/interview/<%= interview.id %>/import_interview" title="Import Interview data">Import Interview Data</a></li>
					<li><a href="/manager/interview/<%= interview.id %>/export_interview" title="Export Interview data">Export Interview Data</a></li>
				</ul>
			</div>
		</div>

		<div class="row">

			<div class="col-md-6">
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading"><strong>Details</strong></div>
					<div class="panel-body">
						<p><%= interview.description %><br/>
							<em><i class="fa fa-time"></i> Created: <%= interview.creation_date.toLocaleDateString() %> <%= interview.creation_date.toLocaleTimeString() %></em>
						</p>
					</div>

					<ul class="list-group">
						<li class="list-group-item"><i class="fa fa-user"></i> <%= user.name %><br><em><i class="fa fa-email"></i> <%= user.email %></em></li>
						<li class="list-group-item"><i class="fa fa-lock"></i> Locked: <%= interview.locked.toString().toUpperCase() %></li>
						<li class="list-group-item">Live: <%= interview.live.toString().toUpperCase() %></li>
					</ul>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-default">
					<!-- Default panel contents -->
					<div class="panel-heading"><strong>Settings</strong></div>
					<div class="panel-body">
					  On Complete:

					   Email deliverables to client: <%= interview.on_complete.email_deliverables_to_client.toString().toUpperCase() %>

		        		 <%  if (email_notification.length) { %>
		        		 	<div><strong>Email Notification to:</strong></div>
		    		 		<ul class="m-e-lst">
		        		 		<% for (var j=0; j < email_notification.length; j++) { %>
		        		 			<li><%= email_notification[j] %></li>
		        		 		<% } %>
		    		 		</ul>
		    		 		<br/>
		        		 <% } else { %>
		        		 	<div><strong>Email Notification to:</strong> &lt;None&gt;</div><br/>
		        		 <% } %>

		        		 <% if (email_deliverables) { %>
		        		 	<div><strong>Email Deliverables to:</strong></div>
		    		 		<ul class="m-e-lst">
		    		 		<% for (var k=0; k < email_deliverables.length; k++) { %>
		    		 			<li><%= email_deliverables[k] %></li>
		    		 		<% } %>
		    		 		</ul>
		        		 	<br/>
		        		 <% } else { %>
		        		 	<div><strong>Email Deliverables to: &lt;None&gt;</strong></div><br/>
		        		 <% } %>

					</div>
				</div>
			</div>
		</div>

		<br/>





		<h2>Deliverables</h2>

		<div class="btn-group" role="group" aria-label="...">
			<a class="btn btn-default" href="/manager/interview/<%= interview.id %>/deliverables/add" title="Add Deliverable"><i class="fa fa-plus-square"></i> Add Deliverable</a>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					Dropdown
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">Dropdown link</a></li>
					<li><a href="#">Dropdown link</a></li>
				</ul>
			</div>
		</div>


				<table class="interviews-table table">
					<thead class="a">
						<tr>
							<th colspan="6">Deliverables</th>
						</tr>
						<tr class="b">
							<th>Filename</th>
							<th>Description</th>
							<th>Output (Type)</th>
							<th>Options</th>
						</tr>
					</thead>
					<tbody>
						<% if (interview.deliverables.length !== 0) { %>
							<% for (var i=0; i < interview.deliverables.length; i++) { %>
								<tr>
									<td><a href="/manager/download/deliverable/stylesheet/<%= i %>/<%= interview.id %>/<%= interview.deliverables[i].id %>" target="_blank"><%= interview.deliverables[i].input.name %></a>
										<br/><br/>
										<strong>Last Modified: </strong><%= interview.deliverables[i].input.modified.toLocaleDateString() %> <%= interview.deliverables[i].input.modified.toLocaleTimeString() %>
										<br/> 
										<strong>By: </strong><%= interview.deliverables[i].input.creator.name %>
									</td>
									<td><%= interview.deliverables[i].description %></td>
									<td><%= interview.deliverables[i].output.name %> <strong>(<%= interview.deliverables[i].output.type.toUpperCase() %>)</strong></td>
									<td>
										<ul class="options-menu">
											<li title="Update this stylesheet" class="download"><a href="/manager/interview/<%= interview.id %>/deliverables/update/<%= i %>">Update</a></li>
											<li title="Remove this stylesheet" class="remove"><a href="/manager/interview/<%= interview.id %>/deliverables/remove/<%= i %>">Remove</a></li>
										</ul>
									</td>
								</tr>
							<% } %>
						<% } else { %>
								<tr><td colspan="5" class="center">&lt;There are currently no user defined deliverables. This means that when a user completes an interview, only the xml answer set will be generated.&gt;</td></tr>
						<% } %>
					</tbody>
				</table>

	</div>
</div>