<div class="row">
	<div class="col-lg-12">

		<h1>Remove a Deliverable</h1>

		<div class="row">
			<div class="col-lg-8">

				<p><strong><%= deliverable.name %></strong> - <%= interview.name %> - <%= interview.description %></p>

				<form role="form" method="post" action="" enctype="multipart/form-data">
					<input type="hidden" name="_csrf" value="<%= token %>"/>
					<input type="hidden" name="interview" value="<%= interview.id %>"/>
					<input type="hidden" name="deliverable" value="<%= deliverable.id %>"/>

					<div class="form-group">
						<p class="help-block">This action will remove a deliverable from being generated once the interview is completed. A deliverable is just an output file that transforms the answers into a form.</p>
					</div>

					<button type="submit" class="btn btn-danger">Delete</button>
					<a class="btn btn-default pull-right" href="/manager/interview/<%= interview.id %>">Cancel</a>
				</form>
			</div>

			<div class="col-lg-4">
				<div class="well">
					<h3>Help</h3>
					<p>When you remove a deliverable, the output document the style sheet generates will no longer be created. You can add this back later if you choose.</p>
				</div>
			</div>			
		</div>
	</div>
</div>