<div class="row">
  <div class="col-lg-12">

    <h1>Update a Deliverable</h1>

    <div class="row">
      <div class="col-lg-8">

        <% if (msg) { %>
          <div class="alert alert-danger" role="alert">
            <%- msg %>
          </div>
        <% } %>

        <form role="form" method="post" action="" enctype="multipart/form-data">
          <input type="hidden" name="_csrf" value="<%= token %>"/>
          <input type="hidden" name="interview" value="<%= interview.id %>"/>

          <div class="form-group">
            <label for="form-stylesheet">Style Sheet</label>
            <input type="file" name="file" id="form-stylesheet">
            <p class="help-block">The file you upload here can have any name you like (as long as the extension is .ejs). It will be automatically renamed to <strong><%= deliverable.input.name %></strong> once uploaded.</p>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
          <a class="btn btn-default pull-right" href="/manager/interview/<%= interview.id %>">Cancel</a>
        </form>
      </div>

      <div class="col-lg-4">
        <div class="well">
          <h3>Help</h3>
          <p>Updating a deliverable will replace the contents of the old style sheet. Be careful, as you cannot get back the old contents of the style sheet.</p>
        </div>
      </div>      
    </div>
  </div>
</div>